html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

body {
     font-family:Tahoma;
     letter-spacing:1px;
 }

#header {
     
    padding:0;
    margin:0;
    background: url(pics/Logo.png), url(pics/Logo_1.png);
    background-repeat:no-repeat, no-repeat;
    height:62px;
    background-position:right center,left center;
   
 }

.left_menu {
    
    list-style:none;
    margin:18px 0px 0px -17px;
    padding:0px 0px 0px 43px;
 }

.left_menu .menu_header {
    
    
    margin-left:-10px;
    color:#424284;
    font-size:18px;
    background:none;
   
 }

.left_menu li a {
    
   font-size:11px; 
   color:#006699; 
   background-position:0px 5px;
   background-image:url(pics/menu-icon.png);
   background-repeat:no-repeat;
   background-size:2px;
   background-position:0px 7px;
   padding:0px 0px 0px 6px;
 
   }

     
   
#menu_icon{
   
    width:3px;
    height:3px;
    text-align:justify;
    }

a,a:hover,a:visited,a:active {
    
    text-decoration:none;
}

a:hover {
    
    text-decoration:underline;
    }


#left_page_container {
    
    border:1px solid #E6DEF5;
    width:159px;
    background:#F2F3F7;
    float:left;
    height:540px;
    
    
    
    
    }

#right_page_container {
    
    float:right;
    border:3px solid #E6DEF5;
    height:536px;
    width:267px;
    background:#F9F4FD;
    border-left-width:5px;
    }

#center_page_container {
    
    border:3px solid #E6DEF5;
    margin:0px 0px 0px 160px;
    height:536px;
    background:#F9F4FD;
   
     }

#footer {
  
    text-align:center;
    padding-top:10px;  
    background:url(pics/background.png) repeat-x;
    height:35px;
    color:white;
  }

#center_menu{
    
    list-style:none;
    padding:0px;
    margin:0px 0px 0px 0px;
    
    }

#center_menu li  {
  
      display:inline-block;
     
    
  }

#center_menu li a {
    
  color:#0000cc;
  font-size:11px;   
  padding-left:5px;
  border-right:1px solid #0000cc;
  padding-right:5px;  
    }

#menu_container {
    
    background:#e6def5;
    padding:2px 5px 5px 10px ;
    
    }

#center_menu #center_menu_header {
    
    color:#6d64a3;
    font-size:11px;
    text-decoration:none;
    cursor:default;
    font-weight:600;
    border-right:none;
    padding-right:0px;
    }


#center_menu #center_last_child {
    
     border-right:none;
    
    }

#main_news_pic {
    
    width:180px;
    height:180px;
    margin:5px 37px 5px 15px;
    float:left;
    border:1px solid black;
 }

#title {
    
    margin:20px 5px 5px 5px;
    color:#C41E89;
    font-size:23px;
    width:620px;
    
  }

#date {
    
     color:#4B3E82;
     font-size:11px;
    }

#article {
    color:#4B3E82;
    font-size:13px;
    font-weight:600;

 }

#information {
    
    margin:75px 500px 15px 14px;
    font-size:12px;
    color:#4B3E82;
    
}

#block {
    
  color:#0000cc; 
  font-size:11px;  
  margin:0px 0px 0px 15px;
  text-decoration:none;
  background-image:url(pics/block_icon.png);
  background-repeat:no-repeat;
  background-position:0px 6px;
  padding-left:10px;
 }

.sub_news {
    
    margin: 12px 15px 0px 12px;
    float:left;
    width:60px;
    height:60px;
    
  }


.hot {
    
    color:#4B3E82;
    font-size:11px;
    width:206px;
    padding:18px 0px 0px 0px;
    }

.pic_2{
    margin-top:2px;
    
}

.pic_3 {
    
    margin-top:15px;
    }


.sub_news_menu {
    
    list-style:none;
    padding:0px;
    float:left;
    
    }

.sub_news_menu li a {
    
    font-size:11px;
    color:#0000cc;
    margin: 0px 0px 0px 13px;
    background-image:url(pics/block_icon.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
    padding-left:8px;
   
    
 }

.sub_news_menu li {
    
      margin-bottom:-6px;
}

#second_menu{

 margin-left:6px;
}

.clear:after {

   content:"";
   display:block;
   clear:both;
}

    
    
    
 