<h2 id="nickname"></h2>

<h3>User Scores:</h3>
<div id="scores">

</div>

<h3>Open Games:</h3>
<div id="open">

</div>

<h3>My Games:</h3>
<div id="my-active">
    <h4>Open Games</h4>
    <div id="active"></div>
    <h4>Ready Games</h4>
    <div id="ready"></div>
    <h4>Started</h4>
    <div id="inprogress"></div>
</div>

<h3>Create Game</h3>
<form>
    <label for="create-game">Create Game: </label>
    <input type="text" id="create-game" />
    <button id="create-game-button">Create</button>
</form>

<button id="logout">LogOut</button>