@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,200italic,300italic,400italic,900,700italic,700,600italic,600);

*, *:before, *:after {
  box-sizing: border-box;
}


html {
  overflow-y: scroll;
  min-height:100%;
}

body {
  background:url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-style: italic;
  padding: 1% 0;
  margin:0;
  min-height:100%;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}

/*login tab */
#wrapper{

   margin: 6% auto;
   
}

a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 20px 40px 40px 40px;
  max-width: 600px;
  min-height: 680px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.req {
  margin: 2px;
  color: #1ab188;
}



label.active {
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  border-radius: 4px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

#signup .field-wrap:nth-of-type(even){
  margin-right: 0;
  float: right;
}

#signup .top-row > div {

  margin-right: 2%;
}

#login .field-wrap {

  width: 70%;
  margin: 40px auto;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;

}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/* end login tab */

/* custom drop down By Mario Vidov */

.customList {
  width: 100%;
  border: 1px solid #a0b3b0;
  font-size: 22px;
  border-radius: 4px;

}

#ulWrapper {
  padding: 0;
  margin: 0;
  background: transparent url("http://i60.tinypic.com/mtwkzd.png") no-repeat;
  background-position:208px 9px;
}
#ulWrapper > li:first-child {
  color: #999;
  position: relative;
  height: 100%;
  display: block;
  cursor: pointer;
  color:rgba(255, 255, 255, 0.5);
}
#ulWrapper > li:first-child > span {
  display: block;
  padding: 0px 5px 4px 13px;
 
}
#ulContainer {
  background: transparent;
  margin-top: 5px;
  max-height: 74px;
  overflow: auto;
  list-style: none;
  padding: 0;
  width: 100%;

}
#ulContainer li {
  padding: 2px 5px;
}
#ulContainer li img {
  float: left;
  margin-right: 5px;
}
#ulContainer li a {
  color: white;
  text-decoration: none;
  display: block;
}
#ulContainer li a:hover {
  color: #a7a7a7;
}
select {
  display: none;
}

/* end custom drop down By Mario Vidov */

/* add shiny buttons */

.shiny-button {

  position: relative;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  overflow: hidden;
    
}

.shiny-button:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 20px;
  width: 700px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
@keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

/* end shiny buttons */