<form id="login-container">
    <h2>Sign in</h2>
    <label for="login-username-input" class="control-label">Username: </label>
    <input type="text" id="login-username-input" class="form-control" ng-model="user.username" 
           autofocus="autofocus" required="required"/>
    <label for="login-password-input">Password: </label>
    <input type="password" id="login-password-input" class="form-control control-group success"
           ng-model="user.password" required/>
    <span id="error"></span>
    <button id="login-button"  class="btn btn-lg btn-primary btn-block"
            data-loading-text="Logining..." ng-click="loginUser($event)">Login</button>
</form>

