<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Supermarket" connectionString="Server=eb4e8aab-41d9-4bc8-a8d1-a20300ff48af.sqlserver.sequelizer.com;Database=dbeb4e8aab41d94bc8a8d1a20300ff48af;User ID=zoilfinkwugndyce;Password=NavPZEjDJghLK5XWL82ESn4BAaJqgd7XQeGxS7FxyWYgm4V67z4jfGAze3oY53wF;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>