<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Products" connectionString="server=c8399625-feb5-4750-8d1d-a203007f3196.mysql.sequelizer.com;database=dbc8399625feb547508d1da203007f3196;uid=vqaqwloofksabfea;pwd=vyzW4dzAXWXDVCU4ZfqBPq2FEc2z3Ro5yXELfZvWnFWeKeVRLXi65QueF3r2j8Gg" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>