<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfMenuItem>
  <MenuItem Title="Home" Controller="Home" Action="Index">
    <Params>
      <MenuParam Name="id" Value ="23"/>
    </Params>
  </MenuItem>
  <MenuItem Title="About" Controller="Home" Action="About"/>
  <MenuItem Title="Contact" Controller="Home" Action="Contact"/>
</ArrayOfMenuItem>