@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h2 class="text-error">An error occurred while processing your request.</h2>
    <h2>@Model.Exception.Message</h2>
</hgroup>
