@using HotLikes.Models;
@model ICollection<HotLikes.ViewModels.User.AddUserViewModel>

@{
    ViewBag.Title = "Find Friends";
}

<h2 id="people-header">People you may know</h2>

@foreach (var user in Model)
{
<div class="user-box">
    @if (user.ImageUrl == null)
    {
        switch (user.Gender)
        {
            case Gender.Male:
                user.ImageUrl = "../img/default-user-male.png";
                break;
            case Gender.Female:
                user.ImageUrl = "../img/default-user-female.png";
                break;
            default:
                break;
        }
    }
    
    <img src="@user.ImageUrl" class="user-image" />
    <button class="add-friend-btn">Add Friend</button>
    <div class="user-name">
        <a href="#">@user.FullName</a>
    </div>
  
</div>
}