/*HEADER*/
header {

    background-color: #036c82;
    font-size: 2.6em;
    padding: 10px 0;
}

.logo {

    text-decoration: none;
    color: #C0C0C0;
    font-size: 3.5em;
    font-weight: bold;
    float: left;
    font-style: italic;
}

.logo:hover {

    color: white;
}

.btn {

    background-color: #036175;
    color: white;
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

/*CONTAINER*/

.container {

    width: 980px;
    margin: 0 auto;
}

.content {

    background-color: #B1D0F5;
    display: inline-block;
    width: 100%; 
    min-height: 500px;
}
/* FOOTER */

footer {

    font-size: 1.6rem;
    padding: 20px;
    background-color: #0c92af;
}

footer p {

   
}

/*Login*/

#loginForm {

    float: right;
}

#loginForm input[type="password"], #loginForm input[type="email"] {

    margin: 0;
    padding: 2px;
    font-size: 1.1rem;
    width: 146px;
}

.form-group {

    display: inline-block;
}

.form-group {

    margin-right: 15px;
}
.sr-only, .checkbox {
    display: block;
    color: white;
}

.sr-only {

    margin-bottom: 4px;
}

.checkbox {

    margin: 5px 0 0 0;
}

.checkbox input {

    margin: -2px 6px 0px 0px;
}

header:after, .container:after, .group:after, #user-panel-two:after, .user-box:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#login-container {

    border-radius: 7px;
    padding: 10px;
    font-size: 1.8rem;
    width: 350px;
    margin: 110px auto;
    background-color: #036c82;
}

#login-container h1 {

   
    text-align: center;
    font-size: 2.2rem;
}

#login-container form {

    margin-top: 10px;
}

#login-container .validation-summary-errors {

    width: 246px;
    margin: 10px auto;
    display: block;
}
#login-container button {

    float: right;
}
.login-label {

    color: white;
    font-weight: bold;
}

.group {

    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.group input[type="password"], .group input[type="text"] {

    float: right;
}
.group input[type="checkbox"] {

    margin: 0;
    color: #00FF7F;
}

.signin {
    text-decoration: none;
    color: #2C0113;
    margin-left: 34px;
}
.signin:hover {

    text-decoration: underline;
}
/*Register */

#register-form {

    width: 435px;
    margin-top: 20px;
}
#register-form legend {

    font-size: 3.6rem;
    font-weight: bold;
    padding-bottom: 20px;
}

#register-form {

    font-size: 1.6rem;
    float: right;
}
#register-form fieldset {

    width: 434px;
    height: 420px;
}
#register-form input {

    border-radius: 5px;
    font-size: 18px;
    padding: 6px 6px;
    margin-bottom: 10px;
    border: 1px solid #0798b6;
}

#register-form input[type="radio"] {
    margin-bottom: 7px;
}
.controls {

    margin-bottom: 4px;
}
.controls input {

    margin: 0;
}
.controls h2 {

    font-size: 21px;
    margin: 6px 0 6px 0;
}

.controls label {

    font-size: 18px;
    font-weight: bold;
}

.controls span:first-child {

    margin-right: 10px;
}
.radio {

    margin-top: 15px;
}
.full {

    width: 421px;
}
.full input {

    width: 100%;
}

input[name="FirstName"], input[name="LastName"] {

    width: 201px;
}

#register-form input[type="submit"] {

    padding: 7px 74px;
    letter-spacing: 1px;
    border: none;
}

#register-form input[type="submit"]:hover {

    background-color: #047F9A;
}

#register-form input[type="submit"]:active {

    margin-top: 4px;
    border: none;
}

select {

    padding: 5px;
    height: 30px;
    font-size: 1.3rem;
}
.validation-summary-errors {

    margin: 10px 0 0 0;
}
.validation-summary-errors, #email-send {

    background: #ffebe8;
    border: 1px solid #dd3c10;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
}

.validation-summary-errors ul {

    padding: 7px 6px;
}

.validation-summary-errors ul li {

    margin-bottom: 7px;
}

/* Verification Page*/

#EmailConfirm {

  
    border-radius: 7px;
    margin: 70px auto;
    width: 400px;
}

#EmailConfirm header {

    font-size: 1.8rem;
    padding: 20px 20px 0 20px;
    color: #C0C0C0;
    border-radius: 7px 7px 0 0;
}

#EmailConfirm header h2 {

    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#EmailConfirm footer {
    
    border-radius: 0 0 7px 7px;
}

#EmailLink {

    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px;
    background-color: #047F9A;
    border-radius: 5px;
    margin-right: 50px;
}

#EmailLink:active {

    background-color: #04529A;
}
#confirmation-container {

    background-color: #036c82;
    font-size: 1.6rem;
    padding: 10px 20px 20px 20px;
    color: #C0C0C0;
}

#confirmation-container strong {

    color: #B7AC09;
}

#email-send {

    display: none;
    color: black;
    padding: 7px;
    margin-bottom: 10px;
}

/* User Panel */

#user-logo {

    color: #C0C0C0;
    font-size: 2.5rem;
    font-style: italic;
    float: left;
    font-weight: bold;
    text-decoration: none;
}
#user-panel-one, #user-panel-two {

    display: inline;
    font-size: 1.7rem;
    margin-top: 7px;
}
#user-panel-one {

    float: left;
    margin-left: 50px;
}
#user-panel-two {

    float: right;
}
#user-panel-one li, #user-panel-two li {

    display: inline;
    margin-right: 15px;
}
#user-panel-one li a, #user-panel-two li a {

    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
}
#user-panel-one li a:hover, #user-panel-two li a:hover {

    background-color: #A0A0A0;
}

/* Find Friends */

#people-header {

    font-size: 2.2rem;
    font-weight: bold;
    margin: 15px 0;
}

.user-box {

    border-top: 1px solid #949393;
    width: 500px;
    padding:10px 0;
}
.user-image {

    width: 75px;
    height: 75px;
    float: left;
    margin-right: 20px;
}

.user-name {

    font-size: 1.8rem;
    margin: 20px 0;
}

.user-name a {

    text-decoration: none;
    color: #3b5998;
}

.user-name a:hover {

    text-decoration: underline;
}

.add-friend-btn {
    -moz-box-shadow: inset 0px 0px 1px 0px #cae3fc;
    -webkit-box-shadow: inset 0px 0px 1px 0px #cae3fc;
    box-shadow: inset 0px 0px 1px 0px #cae3fc;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: -1.12px;
    border: 2px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 112px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 5px 3px #287ace;
    float: right;
    margin: 14px 0;
}
.add-friend-btn:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
    background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color: #4197ee;
}

.add-friend-btn:active {
    position: relative;
    top: 1px;
}