#shadow_container {
  
   margin:107px 0px 0px 107px; 
   padding:0px 0px 0px 0px;
   width:340px;
   background: url(corner.png) no-repeat,url(right_center.png) repeat-y,url(bottom.png) repeat-x;
   background-position:right bottom,right top,left bottom;
   background-size:11px,7px,1px;
  
    }


#shadow_container_1 {
  
   margin:107px 0px 0px 107px; 
   padding:0px 0px 0px 0px;
   width:205px;
   background: url(corner.png) no-repeat,url(right_center.png) repeat-y,url(bottom.png) repeat-x;
   background-position:right bottom,right top,left bottom;
   background-size:11px,7px,1px;
  
    }


#first {
   
     width:335px;
     height:335px;  
    
    
    }
#second {
    
  width:200px;
  height:200px;   
    
    }