<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Products" connectionString="server=c8399625-feb5-4750-8d1d-a203007f3196.mysql.sequelizer.com;database=dbc8399625feb547508d1da203007f3196;uid=vqaqwloofksabfea;pwd=vyzW4dzAXWXDVCU4ZfqBPq2FEc2z3Ro5yXELfZvWnFWeKeVRLXi65QueF3r2j8Gg" providerName="MySql.Data.MySqlClient" />
    <add name="Supermarket" connectionString="Server=eb4e8aab-41d9-4bc8-a8d1-a20300ff48af.sqlserver.sequelizer.com;Database=dbeb4e8aab41d94bc8a8d1a20300ff48af;User ID=zoilfinkwugndyce;Password=NavPZEjDJghLK5XWL82ESn4BAaJqgd7XQeGxS7FxyWYgm4V67z4jfGAze3oY53wF;" providerName="System.Data.SqlClient" />
    <add name="VendorsTotalReportEntities" connectionString="metadata=res://*/TaxesModel.csdl|res://*/TaxesModel.ssdl|res://*/TaxesModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\DatabaseTeamwork\VendorsTotalReport.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>