<div id="current-offer">
    <h2 data-bind="text: offer.title"></h2>
    <p data-bind="text: offer.price"></p>
    <p data-bind="text: offer.location"></p>
    <p data-bind="text: offer.emial"></p>
    <p data-bind="text: offer.phoneNumber"></p>
    <p data-bind="text: offer.dateCreated"></p>
    <h1>Car Info:</h1>
    <p data-bind="text: offer.car.brand"></p>
    <p data-bind="text: offer.car.model"></p>
    <p data-bind="text: offer.car.color"></p>    
    <p data-bind="text: offer.car.gearbox"></p>    
    <p data-bind="text: offer.car.engineType"></p>    
    <p data-bind="text: offer.car.power"></p>
    <p data-bind="text: offer.car.mileage"></p>                
    <p data-bind="text: offer.description"></p>
</div>