@{
    ViewBag.Title = "HotLikes Login";
    ViewBag.HideLogin = true;
}

<div id="login-container">
    <h1>HotLikes Login </h1>
    @Html.ValidationSummary()
    <form method="post" action="/Account/Login">
        @Html.AntiForgeryToken()
        <div class="group">
            <label for="Login-Email" class="login-label">Email Address:</label>
            <input type="text" class="form-control" id="Login-Email" name="Email">
        </div>
        <div class="group">
            <label for="Login-Password" class="login-label">Password:</label>
            <input type="password" id="Login-Password" name="Password">
        </div>
        <div class ="group">
            <label>
                <input type="checkbox" name="RememberMe" value="true"> Remember me
            </label>
            <button type="submit" class="btn">Log in</button>
        </div>
        @Html.ActionLink("Sign In For HotLikes", "Index", "Home", null, new { @class = "signin" })
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
